# Ignore everything
*

# But don't ignore directories
!*/

# ignore these directories
.cargo/
.config/alacritty/
.config/emacs/
.config/swaylock/
.local/
.mozilla/
AUR_builds/
Desktop/
Development/
anaconda3/
archive/
bin/
chrome/
orgfiles/
.cache/

# don't ignore these
!.gitignore
!.config/fish/config.fish
!.config/fish/functions/dotfiles.fish
!.bin/*
!.README.md
!.config/nvim/lua/**


